* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
body {
  background: #09e1fd;
  position: relative;
}
.section {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 50px;
  bottom: 0;
  background: linear-gradient(to top, #09e1fd, transparent);
  z-index: 1000;
}
.section::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  background: #09e1fd;
  z-index: 1000;
  mix-blend-mode: color;
}
.sky,
.plane,
.city,
.bird {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.sky {
  background: url(./sky.jpg) center no-repeat;
  background-size: cover;
}
.plane {
  background: url(./airplane.png) center no-repeat;
  background-size: cover;
}
.city {
  background: url(./city.png) center no-repeat;
  background-size: cover;
  z-index: 2;
}
.bird {
  background: url(./bird.png) center no-repeat;
  background-size: cover;
}
.text {
  position: absolute;
  height: 100%;
  width: 100%;
}
.text::before {
  position: absolute;
  content: "PARALLAX EFFECT";
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(0, 0, 0.5);
  color: #c5fff5;
  padding: 5px 15px;
  font-size: 50px;
  z-index: 2;
}

#about {
  height: 350vh;
}
